body,
html {
  height: 100%;
  display: flex;
}
.buttons {
  width: 150px;
  margin-left: 100px;
  height: 80%;
}
button {
  width: 150px;
  height: 50px;
}
#div {
  width: 1010px;
  height: 810px;
  border: 5px solid black;
  margin-left: 50px;
}
#div__element {
  width: 50px;
  height: 50px;
  background-color: aqua;
}
